@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.main-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #A569BD;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    position: fixed; /* Fija el header en la parte superior */
    top: 0; /* Alinea el header al borde superior */
    left: 0; /* Alinea el header al borde izquierdo */
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    background-color: #A569BD;
    color: white;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    position: fixed; /* Fija el footer en la parte inferior */
    bottom: 0; /* Alinea el footer al borde inferior */
    left: 0; /* Alinea el footer al borde izquierdo */
    z-index: 1; /* Asegura que el footer esté por encima de otros elementos */
}

.logo-container a {
    display: flex; /* Asegúrate de que el enlace también use flexbox */
    align-items: center; /* Alinear los elementos dentro del enlace */
    text-decoration: none; /* Mantiene el estilo de texto limpio */
    color: inherit; /* Hereda el color del contenedor */
}


.logo-main {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.header h1 {
    margin: 0;
}

.spacer {
    flex-grow: 1;
}

.header-actions {
    display: flex;
    align-items: center;
}

.home-button,
.logout-button {
    background-color: #d481f5;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

    .home-button svg,
    .logout-button svg {
        margin-right: 5px;
    }

.content-container {
    display: flex;
    height: 100%;
    width:100%;
    opacity: 80%;
}

.sidebar {
    width: 275px;
    background-color: #A569BD;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-bottom: 10px;
    opacity: 90%;
    scroll-behavior: smooth;
    max-height: calc(100vh - 50px); /* Ajusta según el margen superior */
    overflow-y: auto;
    font-family: 'Roboto', sans-serif;
}

    .sidebar h2 {
        margin-top: 0;
        text-align: center;
    }

    .sidebar ul {
        list-style: none;
        padding: 0;
    }

        .sidebar ul li {
            margin: 15px 0;
        }

            .sidebar ul li a {
                color: white;
                text-decoration: none;
                font-weight: 700;
                display: block;
                padding: 10px;
                border-radius: 5px;
                transition: background-color 0.3s;
            }

                .sidebar ul li a:hover {
                    background-color: #48C9B0;
                }

                .sidebar ul li a.active {
                    background-color: #5ad8bf;
                }

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.caret-icon {
    margin-left: 5px;
}

.submenu {
    padding-left: 20px;
    margin-top: 10px;
}

    .submenu li {
        margin-bottom: 5px;
    }

        .submenu li a {
            padding: 8px;
            background-color: #c298e2;
        }

            .submenu li a:hover {
                background-color: #48C9B0;
            }

.main-content {
    flex-grow: 1;      
    padding: 40px;
    background: url('../assets/background.jpg') no-repeat center center fixed;
    /*background-size: cover;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333;
    text-align: center;
}

    .main-content h1 {
        color: #A569BD;
    }

/* Estilos del modal */
.modal-overlay {
    font-family: 'Roboto';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(153, 144, 144, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    .modal-content h2 {
        margin-top: 0;
    }

    .modal-content form {
        display: flex;
        flex-direction: column;
    }

    .modal-content label {
        margin-bottom: 15px;
        font-weight: 700;
    }

    .modal-content input[type="date"],
    .modal-content textarea {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 10px;
    }

    .modal-content textarea {
        font-family: 'Roboto';
        resize: vertical;
    }

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.submit-button,
.close-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button {
    background-color: #48C9B0;
    color: white;
    transition: background-color 0.3s;
}

    .submit-button:hover {
        background-color: #5ad8bf;
    }

.close-button {
    background-color: #A569BD;
    color: white;
}

    .close-button:hover {
        background-color: #d481f5;
    }


.bienvenidos {
    background-color: #A569BD;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 400px;
    width: 500px;
}

    .bienvenidos h1 {
        margin: 0;
        font-size: 24px;
        color: white;
    }

.welcome-text {
    text-align: justify; /* Justifica el texto */
    margin: 20px auto;
    max-width: 800px; /* Ajusta el ancho máximo para mejor presentación */
    line-height: 1.6; /* Espaciado entre líneas */
    color: rgb(255, 255, 255);
}


/* Estilos generales para formularios */
.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFFFF; /* Fondo blanco */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #000000; /* Texto negro */
}

    .form-container h1 {
        text-align: center;
        color: #FFFFFF; /* Color morado */
        margin-bottom: 20px;
    }

    .form-container form {
        display: flex;
        flex-direction: column;
    }

    .form-container label {
        font-weight: bold;
        margin-bottom: 5px;
        color: #000000; /* Texto negro */
    }

    .form-container input[type="text"],
    .form-container input[type="email"] {
        padding: 10px;
        margin-bottom: 15px;
        border: 2px solid #A569BD; /* Bordes morados */
        border-radius: 4px;
        background-color: #F7F7F7; /* Fondo gris claro */
        color: #000000; /* Texto negro */
    }

        .form-container input[type="text"]:focus,
        .form-container input[type="email"]:focus {
            border-color: #A569BD; /* Borde morado al hacer foco */
            outline: none;
            box-shadow: 0 0 5px rgba(165, 105, 189, 0.8); /* Sombra morada */
        }

    .form-container button {
        background-color: #A569BD; /* Botón morado */
        color: #FFFFFF; /* Texto blanco */
        padding: 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

        .form-container button:hover {
            background-color: #8E44AD; /* Botón más oscuro al pasar el mouse */
        }

/* Estilos para mensajes de éxito */
.success-message {
    color: green;
    margin-bottom: 15px;
    text-align: center;
}

/* Adaptable para otros formularios */
.form-container input[disabled] {
    background-color: #E0E0E0; /* Fondo gris para inputs deshabilitados */
    cursor: not-allowed;
    color: #666666; /* Texto gris oscuro */
}
