/* Contenedor principal */
.attendance-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Título */
.attendance-title {
    font-size: 24px;
    font-weight: bold;
    color: #A569BD;
    text-align: center;
    margin-bottom: 20px;
}

/* Tabla de asistencia */
.attendance-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

    .attendance-table th, .attendance-table td {
        padding: 12px;
        border: 1px solid #D5D8DC;
        text-align: left;
        width: 50%;
    }

    .attendance-table th {
        background-color: #A569BD;
        color: white;
    }

    .attendance-table td {
        background-color: #F8F9F9;
    }

/* Estilo para la tabla en pantallas pequeñas */
@media (max-width: 600px) {
    .attendance-table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

        .attendance-table th, .attendance-table td {
            width: auto;
            display: inline-block;
        }

        .attendance-table td {
            text-align: center;
        }
}

/* Selector de estado */
.attendance-select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #BDC3C7;
    border-radius: 5px;
}

/* Campo de justificación */
.attendance-justification-input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #BDC3C7;
    border-radius: 5px;
    height: 60px;
}

/* Botones de guardar y cancelar */
.attendance-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.attendance-save-button,
.attendance-cancel-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Botón de guardar */
.attendance-save-button {
    background-color: #A569BD;
    color: white;
}

/* Botón de cancelar */
.attendance-cancel-button {
    background-color: #E74C3C;
    color: white;
    margin-left: 10px; /* Añadido para separar los botones */
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 600px) {
    .attendance-buttons {
        flex-direction: column;
        align-items: center;
    }

    .attendance-save-button,
    .attendance-cancel-button {
        width: 100%;
        margin-bottom: 10px;
    }

    .attendance-cancel-button {
        margin-left: 0;
    }
}

.attendance-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.attendance-export-button {
    background-color: #3498DB;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

    .attendance-export-button:hover {
        background-color: #2980B9;
    }
