
.vs/kinder-consenti2/config/applicationhost.config
.vs/kinder-consenti2/DesignTimeBuild/.dtbcache.v2
.vs/kinder-consenti2/FileContentIndex/a1c7f7ba-d712-4cd7-ba00-4ac9642a7995.vsidx
.vs/kinder-consenti2/v17/.suo
.vs/kinder-consenti2/v17/DocumentLayout.backup.json
.vs/kinder-consenti2/v17/DocumentLayout.json
.vs/slnx.sqlite
