.act-container {
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    color: #333;  
    width: 100%;
    height: 95vh; /* Para cubrir toda la pantalla */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 80px; /* Para dar espacio al navbar */
    position: relative;
}
.activity-form-label {
    text-align:initial
}


.act-card {
    position: relative;
    overflow: hidden;
    border: 1px solid #A569BD;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
    width: 300px;
    text-align: center;
    position: relative; /* Necesario para que el botón se posicione dentro de la tarjeta */
    height: 300px; /* Altura fija para las tarjetas. Puedes ajustarlo según tus necesidades */
}
    .act-card img {
        position: absolute;
        top: 70%; /* Ajusta según tus necesidades */
        left: 50%; /* Ajusta según tus necesidades */
        transform: translate(-50%, -50%); /* Para centrar la imagen */
        object-fit: cover; /* Recorta la imagen para cubrir el contenedor */
        object-position: center; /* Centra la imagen dentro del contenedor */
        max-width: 100%;
        max-height: 100%;
        width: 250px;
        height: 150px;
    }


    .act-button {
        padding: 10px 15px;
        background-color: #48C9B0;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: absolute; /* Posicionamiento absoluto dentro de la tarjeta */
        bottom: 20px; /* Ubica el botón 20px de la parte inferior de la tarjeta */
        left: 15%; /* Centra el botón horizontalmente */
        width: auto;
    }

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.act-header {    
    color: #A569BD;
    text-align: center;
    margin: 20px;
    z-index: 2;
}

.card-imagen {
    max-width: 150px;
    max-height: 300px;
    width: auto;
    height: auto;
}


.hover-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    text-align:initial;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.image-container:hover .hover-info {
    opacity: 1;
}