/* src/componentes/RegisterUserForm.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}





.edit-user-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 400px;
}

  

.edit-form-group {
    margin-bottom: 15px;
    background-color: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.input-icon {
    position: relative;
    width: 100%;
}

.edit-input-icon {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 10px;
}




        .input-icon input:focus {
            border-color: #007bff;
            outline: none;
        }

.button-group {
    display: flex;
    justify-content: space-between;
}

    .button-group button {
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

    }

        .button-group button:hover {
            background-color: #0056b3;
            color: #fff;
        }

.success-message {
    color: green;
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
}
