/* Contenedor principal del formulario de matrícula */
.enrollment-form-container {
    display: flex;
    flex-direction: column;
    min-height: 90vh; /* El contenedor ocupa toda la altura de la pantalla */
    background: url('../assets/background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    width: 100%; /* Asegura que ocupe todo el ancho de la pantalla */
    box-sizing: border-box;
    padding-top: 10px; /* Ajusta este valor a la altura de tu navbar */
    padding-bottom: 50px; /* Ajusta este valor a la altura de tu footer */
}


/* Contenedor del formulario, ocupa el espacio restante y se adapta al tamaño de la pantalla */
.enrollment-form {
    flex-grow: 1; /* Toma el espacio restante entre el navbar y el footer */
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con opacidad */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%; /* El formulario ocupa el 100% del ancho disponible */
    margin-top: 50px; /* Centrado horizontal */
    margin-bottom: 50px; /* Centrado horizontal */
    color: #333;
    overflow-y: auto; /* Permite el desplazamiento si hay más contenido que el área visible */
}


form {
    width: auto;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
    label {
        text-align:initial;
    }

/* Contenedor para las dos secciones */
.form-layout {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* Sección de la izquierda: Información del Usuario e Hijos */
.left-section {
    flex: 1;
}

/* Sección de la derecha: Pagos y Productos */
.right-section {
    flex: 1;
}

/* Ajustes en la disposición de las secciones en pantallas pequeñas */
@media (max-width: 768px) {
    .form-layout {
        flex-direction: column;
    }

    .left-section, .right-section {
        flex: none;
        width: 100%;
    }
}

    /* Estilos para el encabezado del formulario */
    .enrollment-form h2 {
        color: #A569BD;
        text-align: center;
        margin-bottom: 20px;
    }

/* Estilos para los títulos de las secciones */
.payment-section h3,
.left-section h3,
.child-info h3 {
    color: #A569BD;
    margin-bottom: 10px;
    
}

/* Estilos para las etiquetas de los campos */
.payment-section label,
.parent-info label,
.child-info label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    
}

.payment-section input[type="radio"] {
    margin-right: 5px; /* Espacio a la derecha del radio button */
}

.left-section input[type="radio"] {
    margin-right: 5px; /* Espacio a la derecha del radio button */
}


/* Estilos para los inputs */
input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 14px;
    box-sizing: border-box;
}

/* Estilos para el campo de archivo */
.proof-of-payment {
    margin-top: 10px;
}

/* Estilos para los botones */
.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap:20px;
}

/* Estilos para el botón de enviar */
.submit-m-button {
    background-color: #48C9B0; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .submit-m-button:hover {
        background-color: #41b89a;
    }

/* Estilos para el botón de cancelar */
.cancel-m-button {
    background-color: #A569BD;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .cancel-m-button:hover {
        background-color: red;
    }

.content-matricula {
    width: auto;
    /*height: 95vh;*/
    font-family: "Roboto", sans-serif;
    /* Para cubrir toda la pantalla */
    flex-direction: column;
    padding-top: 10px; /* Para dar espacio al navbar */
}

    .content-matricula label {
        text-align: left;
    }

    .content-matricula div {
        padding-top:10px;
    }
.botones {
    display:flex;
    gap:5px;
}
    