/* App.css */



h1 {
    text-align: center;
}

.content {
    width: 80%;
    font-family: "Roboto", sans-serif;   
    height: 95vh; /* Para cubrir toda la pantalla */   
    flex-direction: column; 
    padding-top: 80px; /* Para dar espacio al navbar */   
}

.group {
    display: flex;
}

    .group div {
        
        margin-right: 10px;
    }

.seccion {
    width: 50%;
}


select {
    width: 100%;
}

label {
    text-align: center;
}

.new {
    display: flex;
    width: 16%;
    margin-top:40px;
    margin-bottom:40px;
    border-radius: 4px;
    cursor: pointer;    
    color: white;
    transition: background-color 0.3s ease;
}

.filter {
    width: 100%;   
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


    button:hover {
        background-color: #0056b3;
        
    }

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f7f7f7;
    text-align: center;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

    .modal h2 {
        margin-top: 0;
    }

    .modal label {
        display: block;
        margin-bottom: 10px;
    }

    .modal input {
        width: calc(100% - 22px);
        margin-bottom: 20px;
    }

    .modal button {
        width: 100%;
    }
