


.btn-group {
    display:flex;
    gap:10%;
}


h1 {
    text-align: center;
}

.content {
    width: 60%;
    height: 90vh;    
    font-family: "Roboto", sans-serif;
    /* Para cubrir toda la pantalla */
    flex-direction: column;
    padding-top: 80px; /* Para dar espacio al navbar */
}

.group {
    display: flex;
}

    .group div {        
        margin-right: 10px;
    }

.seccion {
    width: 50%;
}

div.acciones {
    padding-right: 0px;
    display: flex;
    gap: 10px; /* Espacio entre los botones */
    justify-content: center;
}

.acciones-button {
    background-color: #d481f5;
    border: none;
    color: white;
    padding: 10px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

select {
    width: 100%;
}

/*label {
    text-align: center;
}*/

.new {    
    text-align:center;
    width: 30%;
    margin-top:10px;
    margin-bottom:10px;
    border-radius: 4px;
    cursor: pointer;    
    color: white;
    transition: background-color 0.3s ease;
}

.filter {
    width: 100%;   
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
   
    /*****************************************************************************************/

.table-container {
    /*max-height: 300px; /* Ajusta la altura según sea necesario */
    overflow-y: auto;
}

thead {
  position: sticky;
  top: 0;
  background-color: white; /* Asegúrate de que el fondo del encabezado sea consistente */
  z-index: 1; /* Asegúrate de que el encabezado esté por encima de las filas */
}

div.otros {
    width: 20%;
    text-align:center;
}
/*********************************************************************************************/

/*
table {
    width: 100%;
    border-collapse: collapse;   
}

td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    text-align: center;
}
   
*/

.modal {
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    margin: auto;
    width: auto;
    max-height: 75%;
    text-align: initial;
    overflow-y: auto;
}


    .modal h2 {
        margin-top: 0;
    }

    .modal label {
        display: block;
        margin-bottom: 10px;
    }

    .modal input {
        width: calc(100% - 22px);
        margin-bottom: 20px;
    }

    .modal button {
        width: 100%;
    }
