.orderViewOpen {
    display: grid;
    grid-template-columns:1fr 7fr;
    min-height: 100%;
    background: url('../assets/background.jpg') no-repeat center center fixed;
}

.orderViewClose {
    display: grid;
    grid-template-columns: auto;
    min-height: 100%;
    background: url('../assets/background.jpg') no-repeat center center fixed;
}


.pageContainer {
    display: grid;
   /* height: 98vh;*/
    margin-left: 5px;
    /*overflow: auto;*/
    background-color: transparent;
}

