.orderViewOpen {
    display: grid;
    grid-template-columns: auto 1fr;
    min-height: 100%;
    background: url('../assets/background.jpg') no-repeat center center fixed;
}

.orderViewClose {
    display: grid;
    grid-template-columns: auto;
    min-height: 100%;
    background: url('../assets/background.jpg') no-repeat center center fixed;
}


.pageContainer {
    display: grid;
   /* height: 98vh;*/
    margin-left: 5px;
    /*overflow: auto;*/
    background-color: transparent;
}

@media (max-width: 768px) {

    .orderViewOpen {
        display: grid;
        grid-template-columns: auto;
        min-height: 100vh;
    }

    .orderViewClose {
        display: grid;
        grid-template-columns: auto;
        min-height: 100%;
        background: url('../assets/background.jpg') no-repeat center center fixed;
    }

    .pageContainer.menu-open {
        display: none;
    }
}
